<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.1" />
    </startup>
  <appSettings>
    <!--<add key="b2c:Tenant" value="analogb2cpoc.onmicrosoft.com" />
    <add key="b2c:ClientId" value="1b5b23a8-1e2e-4815-bcc8-9620f0e9f713" />
    <add key="b2c:ClientSecret" value="8HKJ9eBovs7ySh39nZ3cY3JkN4VAtK55vrqVbDo3zkc=" />-->

    <add key="b2c:Tenant" value="analogb2cpoc.onmicrosoft.com" />
    <add key="b2c:ClientId" value="6dfe1240-92e2-4f54-ab25-f9bdfc4b14e4" />
    <add key="b2c:ClientSecret" value="jqU1+XBNuEAaA8UrTPofuZID6i/wav2rDoVZIow17MQ=" />
  </appSettings>
</configuration>