<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.1" />
    </startup>
  <appSettings>
    <add key="b2c:Tenant" value="analogb2cpoc.onmicrosoft.com" />
    <add key="b2c:ClientId" value="6dfe1240-92e2-4f54-ab25-f9bdfc4b14e4" />
    <add key="b2c:ClientSecret" value="XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX" />
  </appSettings>
</configuration>